.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

span {
  color: #0077ff;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

.gen-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

input {
  width: 50%;
  padding: 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 1rem 2rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005bc3;
}

.loading {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.result-image {
  margin-top: 2rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
